@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  @media (max-width: 500px) {
    footer {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }