
.h3_1, .h3_2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.cards_2 {
    display: flex;
    justify-content: space-around;
}

.table {
	max-width: 1320px;
	margin: auto;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #5ab5ff;
	font-size: 15px;
	background: #fff!important;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
main, header, footer {
	font-family: 'Nunito', sans-serif;
  }